html,
body {
    overflow: auto;
    overflow-x: hidden;
    background-color: #ca6d6d;
    height: 1500px;
}

nav {
    position: absolute;
    width: 2446px;
    height: 200px;
    left: 0px;
    top: -41px;
    background: #BE4D4D;
}

.button {
    width: 150px;
    height: 40px;
    position: absolute;
    border-radius: 10px;
    background-color: #F36666;
}

.button>p {
    font-family: 'Montserrat';
    top: 100px;
    text-align: center;
    color: white
}

div:hover {
    background-color: #D05959;
}

#button3place {
    left: 1310px;
    top: 108px;
}

#button4place {
    left: 1110px;
    top: 108px;
}

#button5place {
    left: 1110px;
    top: 1108px;
}

#logo {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 07px;
    top: 20px;
}

.fade-in {
    animation: fadeIn 4s
}

@keyframes fadeIn {
    from {
        opacity: -3;
    }


    to {
        opacity: 3;
    }

}

#logotext {
    position: absolute;
    width: 266px;
    height: 55px;
    left: 209px;
    top: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 55px;
    color: white;
}

.newthing {
    position: absolute;
    height: 644px;
    left: 568px;
    width: 404px;
    top: 480px;
    padding: 30px;
    border-radius: 6px;
    background: rgb(233, 159, 159);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#breathe {
    position: absolute;
    top: 282px;
    left: 668px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 48px;

}

.chat-input {
    position: absolute;
    display: flex;
    align-items: center;
    left: ;
    width: 80%;
    height: 40px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input {
    width: calc(100% - 40px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

#footer {
    position: absolute;
    width: 1920px;
    height: 176px;
    left: 0px;
    top: 1490px;
    background: #BE4D4D;
}

#footer {
    position: absolute;
    width: 1920px;
    height: 176px;
    left: 0px;
    top: 1390px;
    background: #BE4D4D;
}

#footertext {
    position: absolute;
    width: 922px;
    height: 61px;
    left: 400px;
    top: 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    color: #fff;
}

#follow {
    position: absolute;
    width: 122px;
    height: 61px;
    left: 1096px;
    top: 91px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 70px;
    color: #fff;
}

.newthingname {
    position: absolute;
    height: 24px;
    left: 0px;
    width: 404px;
    top: 0px;
    padding: 30px;
    border-radius: 6px;
    background: #F36666;
}

.newthingmessage {
    position: absolute;
    height: 24px;
    left: 0px;
    width: 404px;
    top: 630px;
    padding: 30px;
    border-radius: 6px;
    background: #F36666;
}